<div class="container" style="min-height: 450px ;min-width:500px">
  <div class="data-container">
    <div class="header">
      <h3 style="margin-right: 20px">Users</h3>
      <button *ngIf="isAdminUser" style="margin-right: 5px" (click)="homePage()">Employees</button>
      <button (click)="logout()">Logout</button>
    </div>
    <table>
      <tr>
        <th>Username</th>
        <th>Role</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{employee.username}}</td>
        <td>{{employee.role}}</td>
      </tr>
    </table>
  </div>
</div>
