<div class="container">
  <div class="data-container">
    <div class="header">
      <h3>Employees</h3>
      <select style="margin-right: 5px"  (change)="typeChanged($event)">
        <option></option>
        <option *ngFor="let title of titles" [value]="title">
          {{title}}
        </option>
      </select>
      <button *ngIf="isAdminUser" style="margin-right: 5px" (click)="adminPage()">Admin page</button>
      <button (click)="logout()">Logout</button>
    </div>
    <a href="http://localhost:5095/employees.csv" style="margin-right: 5px">Download</a>
    <div class="table-container">
      <table>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Title</th>
        </tr>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.role}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
